<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiVault Login</title>

    <!--Font: Montserrat-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/login.css">
    
</head>

<body>
    <div class="wrapper">
        <form action="index.html">
            <h1>Nexus Login</h1>

            <!-- Username Input Box -->
            <div class="input-box">
                <input type="text" placeholder="Username" required>
                <span class="material-icons-outlined">person</span>
            </div>

            <!-- Password Input Box -->
            <div class="input-box">
                <input type="password" placeholder="Password" required>
                <span class="material-icons-outlined">lock</span>
            </div>

            <!-- Remember Me and Forgot Password -->
            <div class="remember-forgot">
                <label>
                    <input type="checkbox"> Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn">Login</button>

            <!-- Register Link -->
            <div class="register-link">
                <p>Don't have an account? <a href="#">Request Here!</a></p>
            </div>
        </form>
    </div>
</body>
</html>